ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: crimson;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s;
}

li a:hover{
  background-color: rgb(204, 7, 46);
}