div.product-details {
  padding: 25px;
  text-align: center;

  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

div.product-details h3{
  margin-top: 1rem;
}

div.product-details img {
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;

  margin-top: 1rem;
}

div.product-details p {
  margin-top: 2rem;
}

div.product-details span {
  margin-top: 3rem;

  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.btn-back {
  border: 0;
  padding: 5px;
  width: 120px;
  border: 1px solid crimson;
  background-color: #fff;
  color: crimson;
  border-radius: 3px;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
  
}

.btn-back:hover {
  background-color: crimson;
  color: #fff;
  cursor: pointer;
}
